<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
           <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css">

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-material/angular-material.js"></script>
    <script src="./bower_components/firebase/firebase.js"></script>
    <script src="./bower_components/angularfire/dist/angularfire.min.js"></script>

        <script src="myJs.js"></script>
        <style>

            #header{
                text-align: center;
            }
        </style>
    </head>
    <body ng-app="myModule">
        <div ng-controller="myCtrl">
            <div id="header">
            <h2>"To-do List"</h2>
            <br>
            <md-input-container>
            <h3>Enter your Task:</h3>
            <input type="text" ng-model="user.task">
            </md-input-container>
            <md-button class="md-raised md-primary" ng-click="addTask(user.task);">Add</md-button>
            </div>
            <h4>Tasks:</h4>

            <table>
                <tr ng-repeat="task in tasks">
                    <td>{{$index+1}} - </td>
                    <td><md-checkbox md-no-ink aria-label="Checkbox No Ink" ng-model="data.cb5" class="md-primary" ng-click="moveTask(user.task);">
</md-checkbox></td>
                    <td>{{user.task}}</td>
                    <td><md-button class="md-raised md-warn" ng-click="deleteTask(user.task);">Delete</md-button></td>     
                </tr>
            </table>
            
            <hr>
           
            <h4>Completed Tasks:</h4>
            <table>
                    <tr ng-repeat="task1 in doneTasks">
                        <td>{{$index+1}} - </td>
                    <td>{{task1}}</td>     
                </tr>
            </table>

            </div>

    </body>
</html>
